/* body{
    background-color: red;
    text-align: center;
}

#canvas{
    display: inline-block;
    text-align: center;
    background-color: blue;
}

.row{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffaf;
    margin: 5px;
    display: inline-block;
}

.row.empty{
    cursor: pointer;
} */

body{
    background-color: antiquewhite;
}

#canvas{
    position: absolute;
    z-index: 1;
}


